{% extends "master.html.twig" %}
{% block title %}Record not found
{% endblock %}
{%
block content %}
	<div>
		<h1>Record not found</h1>
		<h2>Looks like this user got lost in the matrix.
			<a href="/admin">Click to continue</a>.</h2>
	</div>
{% endblock %}