{% extends "admin/admin-master.html.twig" %}
{% block title %}Operation successful - food item deleted
{% endblock %}
{%
block content %}
	<div>
		<h1>Operation successful - food item  deleted</h1>
		<p><a href="/admin/food-items">Click to continue</a>.</p>
	</div>
{% endblock %}