{% extends "admin/admin-master.html.twig" %}
{% block title %}Delete food item
{% endblock %}
{%
block content %}
	<div>
		<h1>Delete food item</h1>
		<div>Delete food item with name:  {{ v.name }}</div>
		<form method="POST">
			<div>Please confirm this action. It is irreversible</div>
			<input type="submit" value="Yes, delete the food item">
		</form>
		<a href="/admin/food-items">Cancel - go back to the list</a>
	</div>
{% endblock %}