{% extends "admin/admin-master.html.twig" %}
{% block title %}Operation successful - user deleted
{% endblock %}
{%
block content %}
	<div>
		<h1>Operation successful - user deleted</h1>
		<p><a href="/admin/user/list">Click to continue</a>.</p>
	</div>
{% endblock %}