{% extends "master.html.twig" %}

{% block title %}Add your restaurant
{% endblock %}

{% block head %}
	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<script>
		tinymce.init({selector: 'textarea[name=description]'});
	</script>
{% endblock %}

{% block content %}

	{% if errorList %}
		<ul>
			{% for error in errorList %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<form method="post" enctype="multipart/form-data">
		<h1>Add your restaurant:</h1>
		<h2>Submit your business info</h2>
		<div>
			Restaurant name:
			<input type="text" name="name" id="name" value="{{ v.name }}"><br>
		</div>
		<div>
			Restaurant description:
			<textarea name="description">{{v.description}}</textarea><br>
		</div>
		<div>
			Restaurant image or logo:
			<input type="file" name="image"/><br>
		</div>
		<div>
			Pricing range:
			<input type="number" name="pricing" min="1" max="5" value="{{ v.pricing }}"><br>
		</div>
		<div>
			{% include "address-form.html.twig" with {
			address: v.address,
			streetNo: v.streetNo,
			street: v.street, 
			appartmentNo: v.appartmentNo, 
			postalCode: v.postalCode, 
			city: v.city, 
			province: v.province
			} %}
			<input class="center btn brand z-depth-0" type="submit" name="next" value="Add">
		</form>
	{% endblock content %}
