{% extends "master.html.twig" %}

{% block title %}Add your restaurant
{% endblock %}

{% block addHead %}
	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<script>
		tinymce.init({selector: 'textarea[name=description]'});
	</script>
{% endblock %}

{% block content %}

	{% if errorList %}
		<ul>
			{% for error in errorList %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	<div class="container mt-3">
		<h2>Add Food to your restaurant</h2>
		<form method="post" enctype="multipart/form-data">

			<div class="mb-3 mt-3">
				<label for="name" class="form-label">Food Name</label>
				<input type="text" class="form-control" name="name" id="name" value="{{ v.name }}"><br>
			</div>
			<div class="mb-3">
				<label for="price" class="form-label">Price</label>
				<input type="number" class="form-control" name="price" id="price" step=".01" value="{{ v.price }}"><br>
			</div>
			<div class="mb-3">
				<label for="description" class="form-label">Description</label>
				<textarea class="form-control" name="description">{{v.description}}</textarea><br>
			</div>
			<div class="mb-3">
				<label for="image" class="form-label">Image</label>
				<input type="file" class="form-control" name="image"/><br>
			</div>
			<button type="submit" class="btn btn-primary" name="submit">Add</button>
		</form>
	</div>
{% endblock content %}
