{% extends "master.html.twig" %}

{% block title %}Add your restaurant
{% endblock %}

{% block addHead %}
	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<script>
		tinymce.init({selector: 'textarea[name=description]'});
	</script>
{% endblock %}

{% block content %}

	{% if errorList %}
		<ul>
			{% for error in errorList %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<form method="post" enctype="multipart/form-data">
		<h1>Add your restaurant:</h1>
		<h2>Submit your business info</h2>
		<div>
			<label for="name">Store name:</label>
			<input type="text" name="name" id="name" value="{{ v.name }}"><br>
		</div>
		<div>
			Store description:
			<textarea name="description">{{ v.description}}</textarea><br>
		</div>
		<div>
			Image:
			<input type="file" name="image"/><br>
		</div>
		<div>
			Pricing:
			<input type="number" name="pricing" min="1" max="5" value="{{ v.pricing }}"><br>
		</div>
		<div>
			{% include "address-form.html.twig" with {v} %}
			<button type="submit">Add restaurant</button>
		</form>
	{% endblock content %}
