{% extends "master.html.twig" %}

{% block title %}Restaurant added successfully{% endblock %}

{%block content %}

<h1>Restaurant was added successfully</h1>

<p>We are glad that you have become a member of our family.</p>

{% endblock %}