{% extends "master.html.twig" %}
{% block title %}Category
{% endblock %}


{% block content %}
	{% if userSession %}
		<div class="m-4">
			{% for r in restaurant %}
				<a href="/restaurants/{{r.id}}">
						<section class="my-4 rounded shadow">
						<div class="w-100">
							<img class="img-fluid rounded-top w-100" style="max-height:300px;object-fit:cover;" src="/{{r.imageFilePath}}"/>
						</div>
						<div class="p-3 justify-content-between d-flex">
							<h3>{{r.name}}</h3>
							<p class="m-0 align-self-center">{{r.pricing}}</p>
						</div>
					</section>
				</a>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
