{% extends "master.html.twig" %}

{% block title %}Categories page
{% endblock %}

{% block content %}

	{% if errorList %}
		<ul>
			{% for error in errorList %}
				<li class="errorMessage">{{error}}</li>
			{% endfor %}
		</ul>
	{% endif %}
	<h1 class="text-center">Categories</h1>
	{% for key, c in categories %}
		{% if (key + 1) is not divisible by(2) %}
			{# Max # of elements in a row is two. if first col in row, start a new row. #}
			<div class="row">
			{% endif %}
			<a href="/browse/{{c.id}}" class="col bg-primary container-fluid m-3 p-3 text-center rounded" style="text-decoration: none; color:white;">{{c.name}}</a>

			{% if (key + 1) is divisible by(2) or loop.last %}
					{# need to close row div, if max cols reached, or if last element (may be an odd number)#}
				</div>
			{% endif %}
		 {% endfor %}
{% endblock content %}
