{% extends "master.html.twig" %}
{% block title %}error 404
{% endblock %}
{%
block content %}
	<div>
		<h1>404 page not found</h1>
		<h2>Looks like this page got lost in the matrix.
			<a href="/">Click to continue</a>.</h2>
	</div>
{% endblock %}
