{% extends "master.html.twig" %}

{% block title %}Internal error
{% endblock %}

{% block content %}

	<div>
    <h1>We're sorry, we encoutered an internal error.</h1>
    <h2>Our team is already working on a solution. <a href="/">Click to continue</a>.</h2>
	</div>

{% endblock content %}
