{% extends "master.html.twig" %}

{% block title %}This feature is not implemented
{% endblock %}

{% block content %}

	<div>
    <h1>Unfortunately this feature is not implemented</h1>
    <h2>Our team is already working on a solution. <a href="/">Click to continue</a>.</h2>
	</div>

{% endblock content %}