{% extends "master.html.twig" %}
{% block title %}Home page
{% endblock %}
{% block content %}

	{% if userSession %}
    <h1>Feed</h1>
	{% else %}
		<h1>Food's Ninja is Here!</h1>
		<h2>Life is better when you're a member</h2>
		<a href="/login">Sign In</a>

		<h2>Do you want to logout?</h2>
		<a href="/logout">Sign Off</a>
	{% endif %}


{% endblock %}
