{% extends "master.html.twig" %}
{% block title %}Home page
{% endblock %}
{% block content %}

	{% if userSession %}
		<div class="d-flex container-fluid p-1 justify-content-between">
			<img src="" alt="Info Icon"/>
			<div>DeliverEats</div>
			<img src="" alt="Location Icon"/>
		</div>
		<div>
			<div class="d-flex">
				{% for c in categories %}
					<div class="p-1">{{c.name}}</div>
				{% endfor %}
			</div>
			<div class="d-flex">
				<div class="p-1">Price</div>
				<div class="p-1">Rating</div>
			</div>
		</div>
		<div>
			{% for r in restaurants %}
				<a href="/restaurant/{{r.id}}">
					<section>
						<h3>{{r.name}}</h3>
						<p>{{r.description}}</p>
					</section>
				</a>
			{% endfor %}
		</div>
		<h2>Do you want to logout?</h2>
		<a href="/logout">Sign Off</a>
	{% else %}
		<h1>Food's Ninja is Here!</h1>
		<h2>Life is better when you're a member</h2>
		<a href="/register">Get Started</a>
		<a href="/login">Sign In</a>
	{% endif %}


{% endblock %}
