{% extends "master.html.twig" %}
{% block title %}Login required
{% endblock %}
{%
block content %}
	<div>
		<h1>Login required.</h1>
		<h2>To continue please
			<a href="/login">Login</a>
			or
			<a href="/register">Register</a>
		</h2>
	</div>
{% endblock %}
