{% extends "master.html.twig" %}

{% block title %}List of Your Restaurant(s){% endblock %} 

{% block content %}

<h4> List of your restaurant(s) </h4>
<table>
    <tr><th>Name</th><th>Image</th><th>**Manage your menu**</th></tr>
    {% for restaurant in list %}
        <tr>
            <td>{{restaurant.name}}</td>
            <td><img src="{{restaurant.imageFilePath}}" width="150" alt="Restaurant image"></td>
            <td><a class="btn btn-danger" href="/add-food/{{restaurant.id}}">ADD FOOD</a></td>
        </tr>

    {% endfor %}
</table>
<a href="/add-restaurant">Add a restaurant</a>

{% endblock content %}