<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Food Delivery Service Project">
		<meta name="keywords" content="food, delivery, service, deals, pickup, dishes, restaurant">
		<meta name="author" content="John Abbott College; FSD01; Team 4: Phil Arceno, Dmitri Banshchikov, Bahareh Jabarzadnouri">
		<meta name='date' content='November 01, 2021'>
		<!-- Bootstrap or Tailwind styles -->
		<!-- Custom Styles -->
		<link rel="stylesheet" href="/styles.css"/> 
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<title>
			{% block title %}{% endblock %}
			- DeliverEats
		</title>
		{% block addHead %}{% endblock %}
	</head>
	<body>
		<!-- Logo -->
		<!-- Search Bar -->
		<!-- Menu Items -->
		{% if userSession %}
			<nav>
				<a href="/"> Home</a>
				<a href="/browse">Browse</a>
				<a href="/orders">Orders</a>
				<a href="/account">Account</a>
			</nav>
		{% endif %}
		<!-- Body -->
		<main id="main"> {% block content %}{% endblock %}
			<!-- Footer -->
			<footer id="footer">
				{% block footer %}
					&copy; Copyright 2021 by
					<a href="http://continuingeducation.johnabbott.qc.ca/">FSD01 Team 4</a>.
				{% endblock %}
				<footer></main>
			</body>
		</html>
	</body>
</html>
