{% extends "master.html.twig" %}

{% block title %}My Profile
{% endblock %}

{% block addHead %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% include 'address-js.html.twig' with {apiKey, addressType: "address"} %}
<script>
    let detailState = 0;
    let addressState = 0;
    $(document).ready(function() {
        getAddress();
        showHide('#details-container', "#detail-dropdown", '#profile-details', detailState);
        showHide('#address-container', "#address-dropdown", '#address-details', addressState);
        $('#changeProfile').click(function() {
            loading();
            let newName = $('input[name="name"]').val();
            let newEmail = $('input[name="email"]').val();
            $.ajax({
                url: '/api/users',
                type: 'PUT',
                dataType: 'json',
                data: JSON.stringify({
                    name: newName,
                    email: newEmail
                })
            }).done(function(data) {
                location.reload();
            }).fail(function(data) {
                hideModal();
                let errors = "<ul>";
                JSON.parse(data.responseText).forEach(element => {
                    errors += `<li>${element}</li>`
                });
                errors += "</ul>";
                $("#profile-errors").html(errors)
            });
        });
        $('#changeAddress').click(function () {
            loading();
            let street = $('input[name="street"]').val();
            let apt_num = $('input[name="appartmentNo"]').val();
            let city = $('input[name="city"]').val();
            let province = $('input[name="province"]').val();
            let postal_code = $('input[name="postalCode"]').val();
            let addressObj = {
                province,
                city,
                street,
                apt_num,
                postal_code
            }
            $.ajax({
                url: '/api/addresses/' + addressId,
                type: 'PUT',
                data: JSON.stringify(addressObj),
                dataType: 'json'
            }).done(function () {
                alert('updated successfully');
                location.reload();
            }).fail(function(data) {
                hideModal();
                let errors = "<ul>";
                JSON.parse(data.responseText).forEach(element => {
                    errors += `<li>${element}</li>`
                });
                errors += "</ul>";
                $("#address-errors").html(errors)
            });
        });
    });
</script>
{% endblock %}

{% block content %}
<h2 class="p-3">Your Profile</h2>
	<div class="p-3 border-bottom">
		<div id="details-container" class="clickable d-flex justify-content-between">
            <div class="d-flex align-items-center gap-20">
            	<svg transform="scale(1.5)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewbox="0 0 16 16">
					<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
					<path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
				</svg>
                <h4 class="m-0">Details</h4>
            </div>
            <div id="detail-dropdown"></div>
        </div>
        <div id="profile-details">
        <div id="profile-errors"></div>
            	<div class="input-group my-3">
                    <label class="input-group-text bg-dark text-light">Username</label>
                    <div class="form-control ">{{userSession.username}}</div>
                </div>
                <div class="input-group my-3">
                    <label class="input-group-text bg-dark text-light">Account Type</label>
                    <div class="form-control">{{userSession.account_type}}</div>
                </div>
                <div class="input-group my-3">
                    <label class="input-group-text">Name</label>
                    <input class="form-control" name="name" value="{{userSession.name}}"></input>
                </div>
        		<div class="input-group my-3">
                    <label class="input-group-text">Email</label>
                    <input class="form-control" name="email" value="{{userSession.email}}"></input>
                </div>
            <button id="changeProfile">
	        	Submit Changes
	        </button>
        </div>
    </div>
    <div class="p-3 border-bottom">
        <div id="address-container" class="clickable d-flex justify-content-between">
            <div class="d-flex align-items-center gap-20">
                <svg id='location-icon' transform="scale(1.5)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewbox="0 0 16 16">
					<path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
					<path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
				</svg>
                <h4 class="m-0">Address</h4>
            </div>
            <div id="address-dropdown"></div>
        </div>
        <div id="address-details" class="my-3">
	        {% include "address-form.html.twig" %}
	        <button id="changeAddress" class="mt-3">
	        	Change Address
	        </button>
        </div>
		</div>
{% endblock %}
