{% extends "master.html.twig" %}

{% block title %}Registeration is done successfully{% endblock %}

{%block content %}

<h1>You can login in now!</h1>

<p>We are glad that you have become a member of our family.</p>

{% endblock %}
