{% extends "master.html.twig" %}

{% block title %}Login
{% endblock %}

{% block addHead %}
<script>
    let autocomplete;
    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete'),
            {
                types: ['establishment'],
                componentRestrictions: {
                    'country': ['CA']
                },
                fields: ['place_id', 'geometry', 'name']
            });
    }
</script>
<script
    src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&libraries=places&callback=initAutocomplete"
    async defer>
</script>
{% endblock %}

{% block content %}
{% if errorList %}
    <p>ERROR:</p>
    <ul>
        {% for error in errorList %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
{% endif %}
	<div>
		<form method="POST">
        <div>
            <label>Address: </label>
            <input id="autocomplete" type="text" name="address" placeholder="Enter a place"></input>
        </div>
            <input type="submit" value="Login"></input>
        </form>
	</div>

{% endblock %}
