{% extends "master.html.twig" %} {% block title %}Search Result{% endblock %} {%
block content %}

<div class="container">
  <h4 class="mt-4">Search results:</h4>
  <div class="row mt-2">
    {% for f in results %}
    <img class="w-25 h-25" src="../{{f.imageFilePath}}" alt="food-image"/>
    {% endfor %}
  </div>
</div>
{% endblock content %}